{{!-- render all events of just logged in user --}}
<h1 id="yourEvents">Your Upcoming Events</h1>
{{#if events.length}}
{{#each events}}
<a href="/events/{{this.id}}">
<div class="columns is-centered events">
    <div class="column is-half">
        <div class="card my-5 mx-5">
            <header class="card-header">
                <p class="card-header-title">
                    {{this.eventName}}
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <p><i class="fa-solid fa-calendar-days"></i> Date: {{this.date}}</p>
                    <p><i class="fa-solid fa-location-dot"></i> Location: {{this.location}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</a>

{{/each}}
{{else}}
<p style="text-align: center">You're not going to any events</p>
{{/if}}

<div class="center">
    <button class="button" id="newEvent"><i class="fa-solid fa-user-plus"></i>New Event</button>
</div>

{{!-- Form to create a new event --}}
<div class="container is-one-third" id="createForm" style="padding:2rem; display:none">
    <form>
        <div class="field">
            <label class="label">Event Name</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-normal" id="eventNameInput" type="text">
            </div>
        </div>

        <div class="field">
            <label class="label">Date of Event</label>
            <div class="control has-icons-left has-icons-right">
                <input class="textarea" id="dateInput" type="text">
            </div>
        </div>

        <div class="field">
            <label class="label">Location</label>
            <div class="control has-icons-left has-icons-right">
                <input class="textarea" id="locationInput" type="text" >
            </div>
        </div>

        <div class="field">
            <label class="label">Industry</label>
            <div class="control has-icons-left has-icons-right">
                <input class="textarea" id="industryInput" type="text">
            </div>
        </div>

        <div class="field">
            <label class="label">Event Description</label>
            <div class="control has-icons-left has-icons-right">
                <input class="textarea" id="descriptionInput" type="text" >
            </div>
        </div>

    </form>
<div class="center">
      <button class="button" id="createButton"><i class="fa-solid fa-pen"></i>Create</button>
</div>
  

</div>

<script src="/js/createEvent.js"></script>