{{!-- render all events of just logged in user --}}
<h1>Your Events</h1>
{{#if events.length}}
{{#each events}}
<a href="/events/{{this.id}}">
<div class="columns is-centered">
    <div class="column is-half">
        <div class="card my-5 mx-5">
            <header class="card-header">
                <p class="card-header-title">
                    {{this.eventName}}
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>Date: {{this.date}}</p>
                    <p>Location: {{this.location}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</a>

{{/each}}
{{else}}
<p style="text-align: center">You're not going to any events</p>
{{/if}}

<button class="button" id="new-post"><i class="fa-solid fa-user-plus"></i>New Event</button>