<h1 id="otherEvents">See what events other people are going to!</h1>
{{#if events.length}}
{{#each events}}
<a href="/events/{{this.id}}">
<div class="columns is-centered events">
    <div class="column is-half">
        <div class="card my-5 mx-5">
            <header class="card-header">
                <p class="card-header-title" style="font-size:25px">
                    {{this.eventName}}
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <h5><i class="fa-solid fa-calendar-days"></i> Date: </h5>
                    <p>{{this.date}}</p>
                    <h5><i class="fa-solid fa-location-dot"></i> Location: </h5>
                    <p>{{this.location}}</p>
                    <h5><i class="fa-solid fa-user-tie"></i>Industry: </h5>
                    <p>{{industry}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</a>

{{/each}}
{{else}}
<p style="text-align: center">Oops. No events to see. Go to your dashboard to add an event you're going to!</p>
{{/if}} 

