{{#if events.length}}
{{#each events}}
<a href="/events/{{this.id}}">
<div class="columns is-centered events">
    <div class="column is-half">
        <div class="card my-5 mx-5">
            <header class="card-header">
                <p class="card-header-title">
                    {{this.eventName}}
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>Date: {{this.date}}</p>
                    <p>Location: {{this.location}}</p>
                   <p>Industry: {{industry}}</p>
                   <p>Event Description: {{eventDescription}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</a>

{{/each}}
{{else}}
<p style="text-align: center">Oops. No events to see. Go to your dashboard to add an event you're going to!</p>
{{/if}} 

