<!-- User Profile Page - View Current Data have ability to update -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />

<!-- Form using Bulma -->
<div class="container box p-6 has-background-light">
  <h1 class="title has-text-centered has-text-success">Update Profile</h1>

  <form id="update-user-form">
    <div class="field">
      <label class="label">First Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Enter your first name" name="firstName" value="{{firstName}}" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Last Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Enter your last name" name="lastName" value="{{lastName}}" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="email" placeholder="Enter your email" name="email" value="{{email}}" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Location</label>
      <div class="control">
        <input class="input" type="text" placeholder="Enter your location" name="location" value="{{location}}" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Industry</label>
      <div class="control">
        <input class="input" type="text" placeholder="Enter your industry" name="industry" value="{{industry}}" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Job Title</label>
      <div class="control">
        <input class="input" type="text" placeholder="Enter your job title" name="jobTitle" value="{{jobTitle}}" required>
      </div>
    </div>

    <div class="field">
      <label class="label">LinkedIn URL</label>
      <div class="control">
        <input class="input" type="text" placeholder="Enter your LinkedIn URL" name="linkedinURL" value="{{linkedinURL}}" required>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-success">Save Changes</button>
      </div>
      <div class="control">
        <button type="button" id="delete-btn" class="button is-danger">Delete Profile</button>
      </div>
    </div>
  </form>
</div>
