{{!-- User Profile Page - View Current Data have ability to update --}}

<p>Name: {{firstName}} {{lastName}}</p>
<p>Email: {{email}}</p>
<p>Location: {{location}}</p>
<p>Industry: {{industry}}</p>
<p>Job Title: {{jobTitle}}</p>
<p>LinkedIn URL: {{linkedinURL}} </p>

<div class="post card">
  <div class="card-header">
    <h2>Edit Post</h2>
  </div>
  <form id="update-user-form" class="card-body">
    <input type="hidden" name="post-id" value="{{post.id}}" />

    <label class="form-label" for="post-title">Job Title</label>
    <input type="text" name="post-title" value="{{post.title}}" class="form-input" />

    <label class="form-label" for="post-body">Content</label>
    <textarea name="post-body" class="form-input">{{post.body}}</textarea>
<br> <br>
    <button type="submit" class="btn">Update</button>

    <button type="button" id="delete-btn" class="btn">Delete</button>
  </form>
</div>

<script src="/js/update.js"></script>
